@model BaseCms.Model.ListViewMetadataModel
<div class="detail-view-form-actions">
    
    <button class="btn btn-primary btn-mini" id="@Model.DataTableId-add-button" onclick="return false;">Add</button>
</div>

<script>
    $("#@Model.DataTableId-add-button").click(function() {

        $.ajax({
            url: "@Url.Action("PopupEdit", "Detail")",
            type: "POST",
            data: {
                viewName: "@Model.PopupSettings.ViewName",
                collectionName: "@Model.CollectionName",
                identifier: "@Guid.Empty.ToString()",
                upperCollectionName: "@Model.UpperCollectionName",
                upperIdentifier: "@Model.UpperIdentifier",
                detailViewGuid: '@Model.DetailViewGuid',
                customDetailMetadataProvider: '@(Model.PopupMetadataProviderType == null ? string.Empty : Model.PopupMetadataProviderType.FullName)',
                title: '@(Model.PopupSettings.Title)',
                height: '@(Model.PopupSettings.Height)',
                width: '@(Model.PopupSettings.Width)',
                noScroll: '@(Model.PopupSettings.NoScroll)',
                top: '@(Model.PopupSettings.Top)',
                left: '@(Model.PopupSettings.Left)',
                screenWidth: screen.width
            },
            dataType: "html",
            success: function(html) {
                var view = $("<div></div>").html(html);
                var form = view.find("form");
                $("body").append(view);
                var modal = view.find(".modal");
                modal.modal({ backdrop: "static" });
                view.find(".popup-edit-cancel").click(function() {
                    modal.modal("hide");
                    view.remove();
                });
                view.find(".popup-edit-ok").click(function() {

                    $.bt_validate.result = true;
                    $.bt_validate.form.find('input[validate],select[validate],textarea[validate]').trigger('blur');
                    if (!$.bt_validate.result) {
                        return;
                    }

                    modal.modal("hide");
                    view.remove();

                    form.ajaxForm({
                        beforeSubmit: function(arr, form, options) {
                            blackout.start();
                            return 0;
                        },
                        success: function(response, statusText, xhr, $form) {
                            if (response.success) {
                                @(Model.DataTableName).fnReloadAjax("@Html.Raw(Model.DataTableUrl)");
                                blackout.end();
                            } else {
                                blackout.end();
                                blackout.alert(response.error, "Ошибка");
                            }
                        }
                    });
                    form.submit();
                });
            },
        });
    });
</script>