@using BaseCms.Views.Detail
@{
    var additional_class = ViewBag.@class ?? "col-xs-8";

    var metaData = (DetailMetadataItem)ViewBag.MetaData;

    var controlId = "_CMSScopeName_" + metaData.PropertyName;

    var htmlValidationAttribute = BootstrapValidationHelper.GetValidationHtmlAttribute(metaData.ValidationAttributes);
    
    int? collectionIndex = ViewBag.CollectionIndex;
    string propertyName = collectionIndex.HasValue
                              ? String.Format("{0}.{1}[{2}]", ViewBag.CollectionName, metaData.PropertyName, collectionIndex.Value)
                              : metaData.PropertyName;

    var decodedText = HttpUtility.HtmlDecode(ViewData.TemplateInfo.FormattedModelValue.ToString());
}
@if (metaData.IsKey)
{
    <p class="centering">@ViewData.TemplateInfo.FormattedModelValue</p>
    return;
}

@if (metaData.IsEditable)
{

    if (!String.IsNullOrEmpty(@metaData.Format))
    {
        var addClass = ViewBag.@class ?? "";
        <span class="input-icon @addClass">
            
            @Html.TextBox(propertyName, decodedText, new {@class = "input_mask_phone "+"num ", validate = htmlValidationAttribute, id = controlId})
            <i class="ace-icon fa fa-phone "></i>
        </span>
    
    }
    else
    {
        var addClass = ViewBag.@class ?? "";
        <span class="input-icon @addClass">
        @Html.TextBox(propertyName, decodedText, new { @class = "input_mask_phone "+"num " + additional_class, validate = htmlValidationAttribute, id = controlId })
        <i class="ace-icon fa fa-phone "></i>
            </span>
    }

}

else
{
    if (!String.IsNullOrEmpty(@metaData.Format))
    {
        <span class="input-icon @additional_class">
            @Html.TextBox(propertyName, decodedText, new { @class = "num", @readonly = "readonly", id = controlId })
            <i class="ace-icon fa blue"> @Html.Raw(metaData.Format) </i>
        </span>
    }
    else
    {
        @Html.TextBox(propertyName, decodedText, new { @class = "num " + additional_class, @readonly = "readonly", id = controlId })
    }
}

<script>
    
    $('.input_mask_phone').mask('(999) 999-9999');
</script>